:root {
    --txt-color: #11009E;
    --bg-color: #fff;
    --main-color: #4942E4;
    --second-color: #8696FE;
    --acc-color: #C4B0FF;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    color: var(--txt-color);
    background-color: var(--bg-color);
}
header{
    width: 100%;
    background-color: var(--bg-color);
}
nav{
    display: flex;
    margin: auto;
    width: 40%;
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    
}
ul{
    display: flex;
    margin: auto;
    list-style-type: none;
}
li{
    margin: 20px;
}
a {
    text-decoration: none;
    font-size: 30px;
    color: var(--txt-color);
}
h4 {
    font-size: 30px;
    background-image: linear-gradient(120deg, var(--main-color), var(--second-color));
    background-clip: text;
    color: transparent;
}
h1 {
    font-size: 60px;
}
h3 {
    font-size: 40px;
    color: var(--txt-color);
}
section {
    width: 70%;
    margin: auto;
    padding: 20px;
}
.about div{
    margin: auto;
}
.title{
    display: flex;
    margin: auto;
    width: fit-content;
}
.title .palette{
    background-image: linear-gradient(120deg, var(--main-color), var(--second-color));
    background-clip: text;
    color: transparent;
}
.title .view{
    background-image: linear-gradient(120deg, var(--second-color), var(--main-color));
    background-clip: text;
    color: transparent;
}
p {
    font-size: 20px;
}
p a{
    font-size: 20px;
    color: var(--second-color);
}
.url-palettes{
    width: 60%;
    margin: auto;  
}
.url-palettes h3{
    width: 100%;
}
.url-palettes div{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.url-input{
    width: 800px;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    aspect-ratio: 1/1;
    bottom: 0px;
}
.all-buttons{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.option {
    text-align: center;
    position: relative;
    background: none;
    padding: 20px;
    margin: 20px;
    z-index: 1;
}
.option-bg{
    opacity: 30%;
    background-color: var(--acc-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
input {
    position: relative;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--acc-color);
    font-size: 20px;
    z-index: 1;
}
.hex{
    text-align: center;
}
::selection {
    background-color: var(--acc-color);
    
}
::-moz-selection {
    background-color: var(--acc-color);

}
